.faq__why,
.faq__risky,
.faq__to-do,
.faq__travel {
  background: $white-font;
  box-shadow: 0 2px 4px 0 rgba(145, 145, 145, 0.5);
}

.faq__why__heading,
.faq__risky__heading,
.faq__to-do__heading,
.faq__travel__heading {
  @include heading-three;
  color: $orange-font;
  margin-bottom: 20px;
  transition: linear 300ms;

  @media (min-width: 1000px) {
    font-size: 24px;
  }
}

.faq__why__text,
.faq__risky__text,
.faq__to-do__text,
.faq__travel__text {
  @include text-characters;
}

/* ASTRONAUT IMG */

.astronaut-img {
  @include image-sizing;
  transition: linear 300ms;

  @media (min-width: 1000px) {
    grid-area: 1 / 2;
  }
}
