.header-faq {
  @include header-hero;
  background-image: linear-gradient(to bottom, #c1555593, #240202a2),
    url(../images/hero2.jpg);
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
  transition: linear 300ms;

  @media (min-width: 500px) {
    place-items: unset;
  }

  &::after {
    content: "";
    position: absolute;
    width: 200vw;
    height: 200vw;
    border-radius: 100%;
    border: 20px solid $blue-font;
    border-inline-start: 5px;
    border-inline-end: 5px;
    background: linear-gradient(182deg, #00132c 61%, rgba(13, 37, 73, 0.9));
    bottom: 15vw;
    left: -40vw;
  }

  &__wraper {
    align-self: center;
    margin: 15%;
    z-index: 10;
    transition: linear 300ms;

    @media (min-width: 900px) {
      margin-top: 1vh;
      margin-left: 60vw;
    }

    &__text {
      font-size: 26px;
      font-weight: bold;
      color: #436dac;
      transition: linear 300ms;

      @media (min-width: 700px) {
        font-size: 40px;
      }

      @media (min-width: 500px) {
        font-size: 35px;
      }
    }
  }
}

.hero2-line {
  @extend .hero1-line;
  max-width: 390px;
}
