$white-font: #ffffff;
$orange-font: #e32700;
$blue-font: #2c4f80;
$dark-font: #323232;

/* SOLAR SYSTEM */
$sun-size: 48px;
$orb-earth-size: 200px;
$orb-mars-size: 350px;
$planet-earth-size: 30px;
$planet-mars-size: $planet-earth-size;
