.about-mars {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: linear 300ms;

  @media (min-width: 1000px) {
    display: grid;
    gap: 35px;
    grid-template-rows: 75px auto repeat(2, 1fr) 75px;
    grid-template-columns: 61px repeat(3, 1fr) 61px;
  }

  &__heading {
    @include heading-two;
    color: $blue-font;
    text-align: center;
    margin-top: 49px;
    margin-bottom: 49px;
    transition: linear 300ms;

    @media (min-width: 1000px) {
      margin-top: 0;
      grid-row: 2;
      grid-column: 2 / span 3;
    }
  }

  &__why-mars {
    @include article-wrap;
    min-height: 340px;
    margin: 0 20px 30px 20px;
    display: flex;
    flex-direction: column;
    place-content: center;
    transition: linear 300ms;

    @media (min-width: 1000px) {
      grid-row: 3;
      grid-column: 2 / span 2;
      margin: 0;
    }

    @media (min-width: 500px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }

  &__wrap-why-text {
    align-self: center;
    text-align: center;
    margin: 20px;
    transition: linear 300ms;

    @media (min-width: 1000px) {
      margin-left: 60px;
      text-align: left;
    }
  }

  &__why-mars-text {
    margin-right: 48px;
  }

  &__move-in {
    @include article-wrap;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    margin: 0 20px 30px 20px;
    transition: linear 300ms;

    @media (min-width: 1000px) {
      grid-row: 4;
      grid-column: 2 / span 2;
      gap: 49px;
      margin: 0;
    }
    @media (min-width: 500px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__wrap-move-text {
    align-self: center;
    text-align: center;
    margin: 20px;
    transition: linear 300ms;

    @media (min-width: 1000px) {
      margin: 0 20px 0 0;
      text-align: left;
    }
  }

  &__sun {
    @include article-wrap;
    display: flex;
    flex-direction: column;
    min-height: 340px;
    margin: 0 20px 30px 20px;
    transition: linear 300ms;

    @media (min-width: 1000px) {
      min-height: 715px;
      grid-row: 3 / span 2;
      grid-column: 4;
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    @media (min-width: 500px) and (max-width: 999px) {
      display: flex;
      flex-direction: row;
      place-content: center;
    }
  }

  &__wrap-sun-text {
    margin: 20px;
    text-align: center;
    align-self: center;
    transition: linear 300ms;

    @media (min-width: 1000px) {
      margin-top: 89px;
      margin-left: 39px;
      margin-right: 39px;
      text-align: left;
    }
  }

  &__why-mars-heading,
  &__move-in-heading,
  &__sun-heading {
    @include heading-three;
    color: $orange-font;
    text-align: left;
    line-height: 22px;
    margin-bottom: 22px;
    transition: linear 300ms;

    @media (min-width: 1000px) {
      font-size: 24px;
    }
  }

  &__why-mars-text,
  &__move-in-text,
  &__sun-text {
    @include text-characters;
    max-width: 417px;
    text-align: left;
    line-height: 22px;
  }
}

.mars-img {
  @include image-sizing;
  max-width: 158px;
  max-height: 158px;
  place-self: center center;
  margin-top: 20px;
  transition: linear 300ms;

  @media (min-width: 500px) {
    margin-top: 0;
  }
}

.station-img {
  @include image-sizing;
  margin-bottom: 20px;
  transition: linear 300ms;

  @media (min-width: 1000px) {
    margin-bottom: 0;
  }
}

.sun-img {
  @include image-sizing;
  max-width: 232px;
  max-height: 232px;
  place-self: center;
  margin-top: 20px;
  img {
    transition: linear 300ms;

    @media (min-width: 1000px) {
      margin-top: 49px;
      margin-bottom: 49px;
    }
  }
}

.read-more-btn {
  @include button;
  margin-top: 33px;
}
