.faq {
  &__heading {
    @include heading-two;
    color: $blue-font;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

    @media (min-width: 1300px) {
      margin-top: 76px;
      margin-bottom: 60px;
    }
  }

  &__wraper {
    margin: 15px;

    @media (min-width: 1300px) {
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 39px;
    }
  }

  &__why {
    padding: 20px;

    @media (min-width: 1300px) {
      grid-row: 1 / span 2;
      grid-column: 1;
      padding: 66px 60px 127px 60px;
    }

    &__heading {
      line-height: 31px;
    }

    &__text {
      padding-bottom: 20px;
      line-height: 22px;
    }
  }

  &__risky {
    padding: 20px;
    margin-top: 20px;

    @media (min-width: 1300px) {
      grid-row: 1;
      grid-column: 2;
      padding: 66px 148px 55px 69px;
    }

    &__text {
      line-height: 23px;
      padding-bottom: 20px;
    }

    &__text-list {
      line-height: 28px;
      font-weight: bold;
      padding-bottom: 20px;
      padding-left: 15px;
      li {
        padding-left: 20px;
      }
    }
  }

  &__to-do {
    @media (min-width: 1300px) {
      grid-row: 2;
      grid-column: 2;
      display: grid;
      grid-template: 1fr / repeat(2, 1fr);
      gap: 48px;
    }

    &__text-wraper {
      margin: 20px;

      @media (min-width: 1300px) {
        grid-area: 1 / 1;
        align-self: center;
        margin-left: 76px;
      }
    }

    &__heading {
      margin-top: 20px;
    }

    &__text {
      line-height: 22px;
    }
  }

  &__travel {
    margin-top: 40px;

    @media (min-width: 1300px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      gap: 81px;
    }

    &__text-wraper {
      padding-left: 20px;
      padding-right: 20px;

      @media (min-width: 1300px) {
        grid-row: 1;
        grid-column: 2 / span 2;
        padding: 75px 97px 79px 0;
        place-self: center;
      }
    }

    &__heading {
      margin-bottom: 60px;
    }

    &__text {
      line-height: 25px;
      padding-bottom: 20px;
    }
  }
}

.faq__why,
.faq__risky,
.faq__to-do,
.faq__travel {
  background: $white-font;
  box-shadow: 0 2px 4px 0 rgba(145, 145, 145, 0.5);
}

.faq__why__heading,
.faq__risky__heading,
.faq__to-do__heading,
.faq__travel__heading {
  @include heading-three;
  color: $orange-font;
  margin-bottom: 20px;

  @media (min-width: 1300px) {
    font-size: 24px;
  }
}

.faq__why__text,
.faq__risky__text,
.faq__to-do__text,
.faq__travel__text {
  @include text-characters;
}

.astronaut-img {
  @include image-sizing;

  @media (min-width: 1300px) {
    grid-area: 1 / 2;
    max-height: 462px;
    max-width: 462px;
  }
}

.planets-wraper {
  background-image: radial-gradient(circle at 50% 39%, #072142, #00132c 101%);
  min-width: 462px;
  min-height: 462px;
  grid-row: 1;
  grid-column: 1;

  &__mars {
    @include image-sizing;
    max-height: 30px;
    max-width: 30px;
  }

  &__sun {
    @include image-sizing;
    max-height: 48px;
    max-width: 48px;
  }

  &__earth {
    @include image-sizing;
    max-height: 30px;
    max-width: 30px;
  }
}
