.form {
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: $blue-font;
  margin-bottom: 60px;
  box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
  box-sizing: border-box;
  transition: linear 300ms;

  @media (min-width: 1180px) {
    text-align: left;
    max-width: 1180px;
    display: grid;
    grid-template-columns: 56px repeat(3, auto) 56px;
    grid-template-rows: 56px repeat(4, auto) 33px;
    margin-bottom: 78px;
  }

  &__firstname {
    padding-top: 20px;
    grid-area: 2 / 2;
    transition: linear 300ms;

    @media (min-width: 1180px) {
      padding-top: 0;
    }
  }

  &__lastname {
    grid-area: 2 / 3;
  }

  &__dateofbirth {
    grid-area: 2 / 4;
  }

  &__professional {
    grid-area: 3 / 2;
  }

  &__primeskill {
    grid-area: 3 / 3;
  }

  &__motivation {
    grid-row: 4;
    grid-column: 2 / span 3;
  }

  &__submit-btn {
    @include button;
    grid-area: 5 / 3;
    transition: linear 300ms;

    @media (min-width: 1180px) {
      margin-left: 40px;
    }
  }
}

input {
  box-sizing: border-box;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: solid 1px #2c4f80;
  padding: 10px 15px;
  margin-bottom: 25px;
  transition: linear 300ms;

  @media (min-width: 1180px) {
    max-width: 370px;
    max-height: 39px;
    margin-top: 15px;
    margin-bottom: 45px;
  }
}

.dateofbirth {
  @extend input;
  width: 207px;
}

.motivation {
  @extend input;
  min-width: 80vw;
  min-height: 20vh;
  margin-left: 10px;
  margin-right: 10px;
  transition: linear 300ms;

  @media (min-width: 1180px) {
    min-width: 1063px;
    min-height: 271px;
    margin-left: 0;
    margin-right: 0;
  }
  @media (max-width: 320px) {
    margin-left: 0;
    margin-right: 0;
  }
}
