@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);
/* Hur fixa blåa-bildlagret ovalt? */
.header {
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
  background-image: linear-gradient(182deg, #00132c 61%, rgba(21, 52, 98, 0) -13%), linear-gradient(to bottom, #c1555593, #240202a2), url(/images/hero1.jpg);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (min-width: 700px) {
  .header {
    min-height: 800px;
  }
}

@media (min-width: 1100px) {
  .header {
    min-height: 100vh;
    min-width: 100%;
  }
}

@media (min-width: 500px) {
  .header {
    place-items: unset;
  }
}

.header__wraper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15%;
}

@media (min-width: 500px) {
  .header__wraper {
    margin-top: 1vh;
    margin-left: 60vw;
  }
}

.header__wraper__text {
  font-size: 26px;
  font-weight: bold;
  color: #436dac;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 700px) {
  .header__wraper__text {
    font-size: 40px;
  }
}

@media (min-width: 500px) {
  .header__wraper__text {
    font-size: 35px;
  }
}

.hero1-line, .hero2-line, .hero3-line {
  display: block;
  max-width: 360px;
  min-height: 6px;
  background-color: #ffffff;
  margin: 5px;
}

.topsection {
  background: #ffffff;
  margin: 0;
}

.topsection__wraper {
  min-height: 559px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center center;
  gap: 2em;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 1000px) {
  .topsection__wraper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.topsection__wraper__text-wrap {
  padding: 43px 20px 10px 20px;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 1200px) {
  .topsection__wraper__text-wrap {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
    padding: 118px 117px;
  }
}

.topsection__wraper__heading {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 20px;
  color: #e32700;
}

@media (min-width: 500px) {
  .topsection__wraper__heading {
    font-size: 36px;
  }
}

@media (min-width: 500px) {
  .topsection__wraper__heading {
    padding-bottom: 29px;
  }
}

.topsection__wraper__text {
  color: #323232;
  font-size: 15px;
}

@media (min-width: 500px) {
  .topsection__wraper__text {
    font-size: 18px;
  }
}

.mars-sky-img {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.mars-sky-img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 500px) {
  .mars-sky-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1 / 1;
  }
}

.about-mars {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 500px) {
  .about-mars {
    display: -ms-grid;
    display: grid;
    gap: 35px;
    -ms-grid-rows: 110px (auto)[3] 110px;
        grid-template-rows: 110px repeat(3, auto) 110px;
    -ms-grid-columns: 96px (auto)[3] 96px;
        grid-template-columns: 96px repeat(3, auto) 96px;
  }
}

.about-mars__heading {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 20px;
  color: #2c4f80;
}

@media (min-width: 500px) {
  .about-mars__heading {
    font-size: 36px;
  }
}

@media (min-width: 500px) {
  .about-mars__heading {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / span 3;
  }
}

.about-mars__why-mars {
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  background: #ffffff;
}

@media (min-width: 500px) {
  .about-mars__why-mars {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.about-mars__wrap-why-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-mars__move-in {
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  background: #ffffff;
}

@media (min-width: 500px) {
  .about-mars__move-in {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.about-mars__wrap-move-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-mars__sun {
  -webkit-box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
          box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.5);
  background: #ffffff;
}

@media (min-width: 500px) {
  .about-mars__sun {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / span 2;
    -ms-grid-column: 4;
    grid-column: 4;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

.about-mars__wrap-sun-text {
  place-self: center;
}

.about-mars__why-mars-heading, .about-mars__move-in-heading, .about-mars__sun-heading {
  font-size: 20px;
  font-weight: 500;
  color: #e32700;
  text-align: left;
}

@media (min-width: 500px) {
  .about-mars__why-mars-heading, .about-mars__move-in-heading, .about-mars__sun-heading {
    font-size: 24px;
  }
}

.about-mars__why-mars-text, .about-mars__move-in-text, .about-mars__sun-text {
  font-size: 16px;
  font-weight: 500;
  color: #323232;
  max-width: 417px;
  text-align: left;
}

.mars-img {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 158px;
  max-height: 158px;
}

.mars-img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.station-img {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 340px;
  max-height: 340px;
}

.station-img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.sun-img {
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 232px;
  min-height: 232px;
}

.sun-img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.read-more-btn {
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  color: #2c4f80;
  width: 128px;
  height: 38px;
  border-radius: 10px;
  border: solid 1px #2c4f80;
}

/* Hur fixa blåa-bildlagret ovalt? */
.header {
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
  background-image: linear-gradient(182deg, #00132c 61%, rgba(21, 52, 98, 0) -13%), linear-gradient(to bottom, #c1555593, #240202a2), url(/images/hero1.jpg);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (min-width: 700px) {
  .header {
    min-height: 800px;
  }
}

@media (min-width: 1100px) {
  .header {
    min-height: 100vh;
    min-width: 100%;
  }
}

@media (min-width: 500px) {
  .header {
    place-items: unset;
  }
}

.header__wraper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15%;
}

@media (min-width: 500px) {
  .header__wraper {
    margin-top: 1vh;
    margin-left: 60vw;
  }
}

.header__wraper__text {
  font-size: 26px;
  font-weight: bold;
  color: #436dac;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 700px) {
  .header__wraper__text {
    font-size: 40px;
  }
}

@media (min-width: 500px) {
  .header__wraper__text {
    font-size: 35px;
  }
}

.hero1-line, .hero2-line, .hero3-line {
  display: block;
  max-width: 360px;
  min-height: 6px;
  background-color: #ffffff;
  margin: 5px;
}

/* Hur fixa blåa-bildlagret? */
.header-faq {
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
  background-image: linear-gradient(182deg, #00132c 61%, rgba(21, 52, 98, 0) -13%), linear-gradient(to bottom, #c1555593, #240202a2), url(/images/hero2.jpg);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (min-width: 700px) {
  .header-faq {
    min-height: 800px;
  }
}

@media (min-width: 1100px) {
  .header-faq {
    min-height: 100vh;
    min-width: 100%;
  }
}

@media (min-width: 500px) {
  .header-faq {
    place-items: unset;
  }
}

.header-faq__wraper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15%;
}

@media (min-width: 500px) {
  .header-faq__wraper {
    margin-top: 1vh;
    margin-left: 60vw;
  }
}

.header-faq__wraper__text {
  font-size: 26px;
  font-weight: bold;
  color: #436dac;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 700px) {
  .header-faq__wraper__text {
    font-size: 40px;
  }
}

@media (min-width: 500px) {
  .header-faq__wraper__text {
    font-size: 35px;
  }
}

.hero2-line {
  max-width: 390px;
}

.header-join {
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
  background-image: linear-gradient(183deg, #00132c 60%, rgba(21, 52, 98, 0) -11%), linear-gradient(to bottom, #24020294 1%, #c15555d0), url(/images/hero3.jpg);
  display: -ms-grid;
  display: grid;
  place-items: center;
  transition: linear 300ms;
}

@media (min-width: 700px) {
  .header-join {
    min-height: 800px;
  }
}

@media (min-width: 1100px) {
  .header-join {
    min-height: 100vh;
    min-width: 100%;
  }
}

@media (min-width: 1100px) {
  .header-join {
    place-items: unset;
  }
}

.header-join__wraper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 15%;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 1100px) {
  .header-join__wraper {
    margin-left: 7vw;
    margin-bottom: 13vh;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.header-join__wraper__text {
  font-size: 26px;
  font-weight: bold;
  color: #436dac;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 700px) {
  .header-join__wraper__text {
    font-size: 40px;
  }
}

@media (min-width: 500px) {
  .header-join__wraper__text {
    font-size: 35px;
  }
}

.hero3-line {
  max-width: 350px;
}

.faq__heading {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 20px;
  color: #2c4f80;
  text-align: center;
  margin-top: 76px;
  margin-bottom: 60px;
}

@media (min-width: 500px) {
  .faq__heading {
    font-size: 36px;
  }
}

@media (min-width: 500px) {
  .faq__wraper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 39px;
  }
}

@media (min-width: 500px) {
  .faq__why {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 66px 60px 127px 60px;
  }
}

.faq__why__text {
  padding-bottom: 20px;
}

@media (min-width: 500px) {
  .faq__risky {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 2;
    grid-column: 2;
    padding: 66px 148px 55px 69px;
  }
}

.faq__risky__text {
  line-height: 23px;
  padding-bottom: 20px;
}

.faq__risky__text-list {
  line-height: 28px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 15px;
}

.faq__risky__text-list li {
  padding-left: 20px;
}

@media (min-width: 500px) {
  .faq__to-do {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: (1fr)[2];
        grid-template: 1fr/repeat(2, 1fr);
    gap: 48px;
  }
}

@media (min-width: 500px) {
  .faq__to-do__text-wraper {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: 1 / 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 76px;
  }
}

.faq__why,
.faq__risky,
.faq__to-do,
.faq__travel {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(145, 145, 145, 0.5);
          box-shadow: 0 2px 4px 0 rgba(145, 145, 145, 0.5);
}

.faq__why__heading,
.faq__risky__heading,
.faq__to-do__heading {
  font-size: 20px;
  font-weight: 500;
  color: #e32700;
  max-width: 352px;
  margin-bottom: 20px;
}

@media (min-width: 500px) {
  .faq__why__heading,
  .faq__risky__heading,
  .faq__to-do__heading {
    font-size: 24px;
  }
}

.faq__why__text,
.faq__risky__text,
.faq__to-do__text {
  font-size: 16px;
  font-weight: 500;
  color: #323232;
}

.astronaut-img {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.astronaut-img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 500px) {
  .astronaut-img {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: 1 / 2;
    max-height: 462px;
    max-width: 462px;
  }
}

.planets-wraper {
  background-image: radial-gradient(circle at 50% 39%, #072142, #00132c 101%);
  max-width: 462px;
  max-height: 462px;
}

.planets-wraper__mars {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-height: 30px;
  max-width: 30px;
}

.planets-wraper__mars img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.planets-wraper__sun {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-height: 48px;
  max-width: 48px;
}

.planets-wraper__sun img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.planets-wraper__earth {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-height: 30px;
  max-width: 30px;
}

.planets-wraper__earth img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.join-us {
  text-align: center;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 500px) {
  .join-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.join-us__text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 20px;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 500px) {
  .join-us__text-wrap {
    padding-top: 113px;
  }
}

.join-us__text-wrap__heading {
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 20px;
  color: #e32700;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 500px) {
  .join-us__text-wrap__heading {
    font-size: 36px;
  }
}

@media (min-width: 500px) {
  .join-us__text-wrap__heading {
    padding-bottom: 33px;
  }
}

.join-us__text-wrap__text {
  font-size: 20px;
  font-weight: 500;
  color: #2c4f80;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 500px) {
  .join-us__text-wrap__text {
    font-size: 24px;
    max-width: 509px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.form {
  background: #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: #2c4f80;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
          box-shadow: 0 4px 15px 0 rgba(185, 185, 185, 0.5);
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 1180px) {
  .form {
    text-align: left;
    max-width: 1180px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 56px (auto)[3] 56px;
        grid-template-columns: 56px repeat(3, auto) 56px;
    -ms-grid-rows: 56px (auto)[4] 33px;
        grid-template-rows: 56px repeat(4, auto) 33px;
    margin-bottom: 78px;
  }
}

.form__firstname {
  padding-top: 20px;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: 2 / 2;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 1180px) {
  .form__firstname {
    padding-top: 0;
  }
}

.form__lastname {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: 2 / 3;
}

.form__dateofbirth {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: 2 / 4;
}

.form__professional {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: 3 / 2;
}

.form__primeskill {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: 3 / 3;
}

.form__motivation {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2 / span 3;
}

.form__submit-btn {
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  color: #2c4f80;
  width: 128px;
  height: 38px;
  border-radius: 10px;
  border: solid 1px #2c4f80;
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: 5 / 3;
}

@media (min-width: 1180px) {
  .form__submit-btn {
    margin-left: 40px;
  }
}

input, .dateofbirth, .motivation {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 310px;
  height: 35px;
  border-radius: 5px;
  border: solid 1px #2c4f80;
  padding: 10px 15px;
  margin-bottom: 25px;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 1180px) {
  input, .dateofbirth, .motivation {
    width: 370px;
    height: 39px;
    margin-top: 15px;
    margin-bottom: 45px;
  }
}

.dateofbirth {
  width: 207px;
}

.motivation {
  min-width: 80vw;
  min-height: 20vh;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 1180px) {
  .motivation {
    min-width: 1063px;
    min-height: 271px;
    margin-left: 0;
    margin-right: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #f1f1f1;
}

main {
  max-width: 100%;
}

.menu-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 104px;
  background: #061b38;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center center;
  place-items: center center;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* Varför den placeringen?*/
  /* Listan är i två rader */
}

@media (min-width: 500px) {
  .menu-wraper {
    min-height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-wraper__logo-wrap {
  min-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 72px;
  max-height: 43px;
  margin-right: 0;
  margin-bottom: 15px;
}

.menu-wraper__logo-wrap img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 500px) {
  .menu-wraper__logo-wrap {
    margin: 0 auto 0 42px;
  }
}

.menu-wraper__link-list {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[3];
      grid-template-columns: repeat(3, -webkit-max-content);
      grid-template-columns: repeat(3, max-content);
  place-items: center;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 500px) {
  .menu-wraper__link-list {
    padding-right: 20px;
  }
}

.menu-wraper__links {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 500px) {
  .menu-wraper__links {
    font-size: 16px;
    padding: 30px;
  }
}

.menu-wraper__links--active {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 3px solid #e32700;
  margin: 15px;
  padding-bottom: 7px;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 500px) {
  .menu-wraper__links--active {
    font-size: 16px;
    margin: 30px;
  }
}

h1 {
  font-size: 37px;
  font-weight: 800;
  color: #ffffff;
  -webkit-transition: linear 300ms;
  transition: linear 300ms;
}

@media (min-width: 700px) {
  h1 {
    font-size: 60px;
  }
}

@media (min-width: 500px) {
  h1 {
    font-size: 50px;
  }
}

.footer {
  background: #2c4f80;
  color: #ffffff;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .footer {
    min-height: 317px;
  }
}

.footer h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .footer h4 {
    font-size: 30px;
    margin-bottom: 26px;
  }
}

.footer__text {
  font-size: 10px;
  text-align: center;
  margin: 0 10px;
}

@media (min-width: 900px) {
  .footer__text {
    font-size: 12px;
  }
}

strong {
  color: #f97c7c;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */